<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="img/favicon.png">
  </head>
  <body>
    <img src="img/favicon.png" alt="" />
    <h1><%= title %></h1>
    <% if (user) {%>
      <a href="/signout">Sign out</a>
    <% }else{ %>
      <a href="/signin">Sign in</a>
      <a href="/signup">Sign up</a>
    <% } %>
    <%- user || 'null'  %>

    <section ng-view></section>

    <script type="text/javascript">
      window.user =    <%= user || 'null'  %>;
    </script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="articles/articles.client.module.js"></script>
    <script type="text/javascript" src="articles/controllers/articles.client.controllers.js"></script>
    <script type="text/javascript" src="articles/server/articles.client.server.js"></script>
    <script type="text/javascript" src="articles/config/articles.client.routes.js"></script>

    <script type="text/javascript" src="/example/example.client.module.js"></script>
    <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
    <script type="text/javascript" src="/example/config/example.client.routes.js"></script>

    <script type="text/javascript" src="users/users.client.module.js"></script>
    <script type="text/javascript" src="users/services/authentication.client.service.js"></script>

    <!-- Bootstrap AngularJS Application -->
    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
