.demo{
    width: 120px;
    height: 90px;
    background: no-repeat;
    position: absolute;
    left: 10%;
}
#rabbit{
    top:50px;
}
#rabbit-run{
    top:150px;
}
#rabbit-lose{
    top:300px;
}
#rabbit-win{
    top:450px;
}
