.header-container{
  width: 100%;
  height: $header-height;
  background-color: white;
  position: relative;
  @include clearfix();
}

.mune-container,.search-container,.banner-container{
  float: left;
  height: 100%;
  .iconfont{
    margin: 0;
    padding: 0;
    margin-top: ($header-height - $header-logo-size)/2;
  }
  span{
    cursor: pointer;
  }
}
.mune-container{
  margin: 0;
  width: 18%;
  height: 100%;
  border-right: 1px solid $primary-grey;
  box-sizing: border-box;
  span{
    float: left;
    width: 50%;
    height: 100%;
  }
  span.logo-canv-container{
    display: block;
    background: #ccc;
  }
  span.mune-botton{
    text-align: center;
  }
}
.search-container{
  margin: 0;
  width: 82%;
  .search-botton{
    padding-left: 10px;
  }
}
.banner-container{
  background-color: #000;
  width: 24%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (min-width:1024px){
  //>1024px;
}
