//font
$font-global: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-global-cn:"HanHei SC","PingHei","PingFang SC","STHeitiSC-Light",
                "Helvetica Neue","Helvetica","Arial",sans-serif;


//color
$primary-grey:#ececec;


//*******
//Components variables
//##header
$header-height:50px;
$header-logo-size:32px;
