//index crowed grid


@mixin pixel-pattern {
  background-image: url(../img/pixel-pattern.png);
  background-repeat: repeat;
  background-size: 2px 2px;
}
@mixin pixel-pattern-dark {
  background-image: url(../img/pixel-pattern-dark.png);
  background-repeat: repeat;
  background-size: 2px 2px;
}
@mixin pixel-pattern-darker {
  background-image: url(../img/pixel-pattern-darker.png);
  background-repeat: repeat;
  background-size: 2px 2px;
}
@mixin pixel-pattern-overlay {
  background-image: url(../img/pixel-pattern-overlay.png);
  background-repeat: repeat;
  background-size: 2px 2px;
}
